@import "tailwindcss";

.share-button {
	anchor-name: --share-btn;
}

.share-opt {
	position-anchor: --share-btn;
	position: absolute;
	margin: 0;
	inset: auto;
	top: anchor(bottom);
	right: anchor(right);
	margin-block-start: 8px;
	transition: display .5s, opacity .5s;
	transition-behavior: allow-discrete;
	opacity: 0;
	place-items: center;
}

.share-opt:popover-open {

	display: grid;
	opacity: 1;

	@starting-style {
		opacity: 0;
	}
}
